body {
    margin:0;
    padding:0;
}

div {
    display: flex;
    
}

#main {
    display: flex;
    flex-grow: 1;
    margin:0;
    padding:0;
    height: 100vh;
}

#left {
    justify-content: center;
    margin:0;
    padding:0;
    position: relative;
}

#logo {
    position: absolute;
    width: 100%;
    background: rgb(0 0 0 / 40%);
    color: white;
    top: 22%;
    align-items: center;
	justify-content: center;
}

#odin {
    height: 16vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

@font-face {
  font-family: Norse;
  src: url(../sign-up-form-TOP/Norse.otf);
}

#odinW {
    font-size: 14vh;
    padding: 0;
    margin: 0;
    font-family: Norse;
}

#credit {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 1%;
    margin: 0;
    text-align: center;
}

a:link {
    color: white;
}

#welcome {
    background: rgb(240, 240, 240);
    flex-grow: 1;
	justify-content: space-between;
    flex-direction: column;
}

#quote {
    padding: 4vh 0 4vh 0;
    margin: 0;
}